In [ ]:
# 1. Declare an empty list
empty_list = []

In [ ]:
# 2. Declare a list with more than 5 items
my_list = [10, 20, 30, 40, 50, 60]

In [ ]:
# 3. Find the length of your list
list_length = len(my_list)
print(list_length)

6

In [ ]:
# 4.Get the first item, the middle item and the last item of the list
first_item = my_list[0]
middle_item = my_list[len(my_list) // 2] # For lists with an even number of items, this gets the first of the two middle items
last_item = my_list[-1]

print("First item:", first_item)
print("Middle item:", middle_item)
print("Last item:", last_item)

First item: 10
Middle item: 40
Last item: 60

In [ ]:
# 5.Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ["Tansya Babu", 24, 5.9, "Single", "Kallamparambil h"]

In [ ]:
# 6. Declare a list variable named it_companies and assign initial values
# Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

In [ ]:
#7. Print the list using print()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
# 8. Print the number of companies in the list
print(len(it_companies))

7

In [ ]:
# 9. Print the first, middle and last company
first_company = it_companies[0]
middle_company = it_companies[len(it_companies) // 2]
last_company = it_companies[-1]

print("First company:", first_company)
print("Middle company:", middle_company)
print("Last company:", last_company)

First company: Facebook
Middle company: Apple
Last company: Amazon

In [ ]:
# 10. Print the list after modifying one of the companies
it_companies[0] = "Meta" # Modifying the first company
print(it_companies)

['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [ ]:
# 11. Add an IT company to it_companies
it_companies.append("Netflix")
print(it_companies)

['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Netflix']

In [ ]:
# 12. Insert an IT company in the middle of the companies list
middle_index = len(it_companies) // 2
it_companies.insert(middle_index, "Tesla") # Inserting "Tesla" in the middle
print(it_companies)

['Meta', 'Google', 'Microsoft', 'Apple', 'Tesla', 'IBM', 'Oracle', 'Amazon', 'Netflix']

In [ ]:
# 13. Change one of the it_companies names to uppercase (IBM excluded!)
it_companies[1] = it_companies[1].upper() # Changing "Google" to uppercase
print(it_companies)

['Meta', 'GOOGLE', 'Microsoft', 'Apple', 'Tesla', 'IBM', 'Oracle', 'Amazon', 'Netflix']

In [ ]:
# 14. Join the it_companies with a string '#;  '
joined_companies = '#;  '.join(it_companies)
print(joined_companies)

Meta#;  GOOGLE#;  Microsoft#;  Apple#;  Tesla#;  IBM#;  Oracle#;  Amazon#;  Netflix

In [ ]:
# 15. Check if a certain company exists in the it_companies list.
company_to_check = "Google"
if company_to_check in it_companies:
  print(f"{company_to_check} exists in the list.")
else:
  print(f"{company_to_check} does not exist in the list.")

Google does not exist in the list.

In [ ]:
# 16. Sort the list using sort() method
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'GOOGLE', 'IBM', 'Meta', 'Microsoft', 'Netflix', 'Oracle', 'Tesla']

In [ ]:
# 17. Reverse the list in descending order using reverse() method
it_companies.reverse()
print(it_companies)

['Tesla', 'Oracle', 'Netflix', 'Microsoft', 'Meta', 'IBM', 'GOOGLE', 'Apple', 'Amazon']

In [ ]:
# 18. Slice out the first 3 companies from the list
first_three_companies = it_companies[:3]
print(first_three_companies)

['Tesla', 'Oracle', 'Netflix']

In [ ]:
# 19. Slice out the last 3 companies from the list
last_three_companies = it_companies[-3:]
print(last_three_companies)

['GOOGLE', 'Apple', 'Amazon']

In [ ]:
# 20. Slice out the middle IT company or companies from the list
middle_index = len(it_companies) // 2
if len(it_companies) % 2 == 0:
  # Even number of items, get the two middle items
  middle_companies = it_companies[middle_index - 1 : middle_index + 1]
else:
  # Odd number of items, get the single middle item
  middle_companies = [it_companies[middle_index]]

print(middle_companies)

['Meta']

In [ ]:
# 21. Remove the first IT company from the list
it_companies.pop(0) # or it_companies.remove(it_companies[0]) or del it_companies[0]
print(it_companies)

['Oracle', 'Netflix', 'Microsoft', 'Meta', 'IBM', 'GOOGLE', 'Apple', 'Amazon']

In [ ]:
# 22. Remove the middle IT company or companies from the list
middle_index = len(it_companies) // 2
if len(it_companies) % 2 == 0:
  # Even number of items, remove the two middle items
  del it_companies[middle_index - 1 : middle_index + 1]
else:
  # Odd number of items, remove the single middle item
  del it_companies[middle_index]

print(it_companies)

['Oracle', 'Netflix', 'Microsoft', 'GOOGLE', 'Apple', 'Amazon']

In [ ]:
# 23. Remove the last IT company from the list
it_companies.pop() # or del it_companies[-1]
print(it_companies)

['Oracle', 'Netflix', 'Microsoft', 'GOOGLE', 'Apple']

In [ ]:
# 24. Remove all IT companies from the list
it_companies.clear()
print(it_companies)

[]

In [ ]:
# 25. Destroy the IT companies list
del it_companies

In [ ]:
# 26. Join the following lists:
# front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
# back_end = ['Node','Express', 'MongoDB']
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
joined_list = front_end + back_end
print(joined_list)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [ ]:
# 27. After joining the lists in question 26. Copy the joined list and assign it to a
# variable full_stack, then insert Python and SQL after Redux.
full_stack = joined_list[:] # Copy the joined list
redux_index = full_stack.index('Redux') # Find the index of 'Redux'
full_stack.insert(redux_index + 1, 'Python') # Insert 'Python' after 'Redux'
full_stack.insert(redux_index + 2, 'SQL') # Insert 'SQL' after 'Python'

print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

#Second Set Assignment

The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [ ]:
# Sort the list and find the min and max age

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# 1. Sort the list
ages.sort()
print("Sorted ages:", ages)

# 2. Find the min age
min_age = ages[0]
print("Minimum age:", min_age)

# 3. Find the max age
max_age = ages[-1]
print("Maximum age:", max_age)

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum age: 19
Maximum age: 26

In [ ]:
# Add the min age and the max age again to the list
ages.append(min_age)
ages.append(max_age)
print("Ages after adding min and max:", ages)

Ages after adding min and max: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [ ]:
# Find the median age (one middle item or two middle items divided by two)
ages.sort() # Ensure the list is sorted first to find the median correctly
n = len(ages)
if n % 2 == 0:
  # Even number of items, median is the average of the two middle items
  mid1 = ages[n // 2 - 1]
  mid2 = ages[n // 2]
  median_age = (mid1 + mid2) / 2
else:
  # Odd number of items, median is the middle item
  median_age = ages[n // 2]

print("Median age:", median_age)

Median age: 24.0

In [ ]:
# Find the average age (sum of all items divided by their number )
average_age = sum(ages) / len(ages)
print("Average age:", average_age)

Average age: 22.75

In [ ]:
# Find the range of the ages (max minus min)
age_range = max_age - min_age
print("Range of ages:", age_range)

Range of ages: 7

In [ ]:
# Compare the value of (min - average) and (max - average), use abs() method
min_diff = abs(min_age - average_age)
max_diff = abs(max_age - average_age)

print(f"|min_age - average_age|: {min_diff}")
print(f"|max_age - average_age|: {max_diff}")

if min_diff > max_diff:
  print("Absolute difference between min and average is greater than between max and average.")
elif max_diff > min_diff:
  print("Absolute difference between max and average is greater than between min and average.")
else:
  print("Absolute differences are equal.")

|min_age - average_age|: 3.75
|max_age - average_age|: 3.25
Absolute difference between min and average is greater than between max and average.

In [ ]:
# Find the middle country(ies) in the countries list
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

n = len(countries)
middle_index = n // 2

if n % 2 == 0:
    # Even number of countries, get the two middle countries
    middle_countries = countries[middle_index - 1:middle_index + 1]
else:
    # Odd number of countries, get the single middle country
    middle_countries = [countries[middle_index]]

print("Middle country(ies):", middle_countries)

Middle country(ies): ['Finland']

In [ ]:
# Divide the countries list into two equal lists if it is even if not one more country for the first half.
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark'] # Re-declaring countries for this task

n = len(countries)
middle_index = (n + 1) // 2 # This ensures the first half gets one more if n is odd

first_half = countries[:middle_index]
second_half = countries[middle_index:]

print("First half:", first_half)
print("Second half:", second_half)

First half: ['China', 'Russia', 'USA', 'Finland']
Second half: ['Sweden', 'Norway', 'Denmark']

In [ ]:
# ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the
# first three countries and the rest as scandic countries.
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
first_country, second_country, third_country, *scandic_countries = countries

print("First country:", first_country)
print("Second country:", second_country)
print("Third country:", third_country)
print("Scandic countries:", scandic_countries)

First country: China
Second country: Russia
Third country: USA
Scandic countries: ['Finland', 'Sweden', 'Norway', 'Denmark']