### Sets - Exercises

In [ ]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [ ]:
# 1. Find the length of the set it_companies
length_it_companies = len(it_companies)
print(length_it_companies)

7

In [ ]:
# 2.Add 'Twitter' to it_companies
it_companies.add('Twitter')
print(it_companies)

{'Microsoft', 'IBM', 'Google', 'Apple', 'AMD', 'Oracle', 'Nvidia', 'Facebook', 'Twitter', 'Amazon'}

In [ ]:
# 3. Insert multiple IT companies at once to the set it_companies
new_companies = ['Tesla', 'Nvidia', 'AMD']
it_companies.update(new_companies)
print(it_companies)

{'Microsoft', 'Tesla', 'IBM', 'Google', 'Apple', 'AMD', 'Oracle', 'Nvidia', 'Facebook', 'Twitter', 'Amazon'}

In [ ]:
# 4. Remove one of the companies from the set it_companies
it_companies.remove('Tesla')
print(it_companies)

{'Microsoft', 'IBM', 'Google', 'Apple', 'AMD', 'Oracle', 'Nvidia', 'Facebook', 'Twitter', 'Amazon'}

In [ ]:
# 5. What is the difference between remove and discard
# Demonstrating discard() with a non-existing element
it_companies = {'Microsoft', 'IBM', 'Google', 'Apple', 'AMD', 'Oracle', 'Nvidia', 'Facebook', 'Twitter', 'Amazon'} # Re-initializing for demonstration
print("Set before discard():", it_companies)
it_companies.discard('Tesla') # 'Tesla' is not in the set
print("Set after discard('Tesla'):", it_companies)

it_companies.discard('Google') # 'Google' is in the set
print("Set after discard('Google'):", it_companies)

Set before discard(): {'Oracle', 'Microsoft', 'IBM', 'Nvidia', 'Google', 'Facebook', 'AMD', 'Apple', 'Twitter', 'Amazon'}
Set after discard('Tesla'): {'Oracle', 'Microsoft', 'IBM', 'Nvidia', 'Google', 'Facebook', 'AMD', 'Apple', 'Twitter', 'Amazon'}
Set after discard('Google'): {'Oracle', 'Microsoft', 'IBM', 'Nvidia', 'Facebook', 'AMD', 'Apple', 'Twitter', 'Amazon'}

In [ ]:
# 6. Join A and B
joined_set = A.union(B)
# or joined_set = A | B
print(joined_set)

{19, 20, 22, 24, 25, 26, 27, 28}

In [ ]:
# 7. Find A intersection B

In [ ]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Find A intersection B
intersection_set = A.intersection(B)
# or intersection_set = A & B
print(intersection_set)

{19, 20, 22, 24, 25, 26}

In [ ]:
# 8. Is A subset of B
is_subset = A.issubset(B)
print(is_subset)

True

In [ ]:
# 9. Are A and B disjoint sets
is_disjoint = A.isdisjoint(B)
print(is_disjoint)

False

In [ ]:
# 10. Join A with B and B with A
A_with_B = A.union(B)
B_with_A = B.union(A)
print(A_with_B)
print(B_with_A)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [ ]:
# 11. What is the symmetric difference between A and B
symmetric_difference = A.symmetric_difference(B)
print(symmetric_difference)

{27, 28}

In [ ]:
 # 12. Delete the sets completely
 del A
 del B

In [ ]:
# 13. Convert the ages to a set and compare the length of the list and the set, which one is bigger?
age_set = set(age)
print("Original list:", age)
print("Converted set:", age_set)

len_list = len(age)
len_set = len(age_set)

print("Length of the list:", len_list)
print("Length of the set:", len_set)

if len_list > len_set:
    print("The length of the list is bigger than the length of the set.")
elif len_set > len_list:
    print("The length of the set is bigger than the length of the list.")
else:
    print("The length of the list and the set are the same.")

Original list: [22, 19, 24, 25, 26, 24, 25, 24]
Converted set: {19, 22, 24, 25, 26}
Length of the list: 8
Length of the set: 5
The length of the list is bigger than the length of the set.

In [ ]:
# 14. "I am a teacher and I love to inspire and teach people."
# How many unique words have been used in the sentence? Use the split methods and set to get the unique words.
sentence = "I am a teacher and I love to inspire and teach people."
words = sentence.split()
unique_words = set(words)
num_unique_words = len(unique_words)
print("Original sentence:", sentence)
print("List of words:", words)
print("Set of unique words:", unique_words)
print("Number of unique words:", num_unique_words)

Original sentence: I am a teacher and I love to inspire and teach people.
List of words: ['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people.']
Set of unique words: {'love', 'inspire', 'I', 'people.', 'and', 'teacher', 'a', 'am', 'teach', 'to'}
Number of unique words: 10

In [ ]:
# 15. Explain the difference between the following data types: string, list, tuple and set

# Strings: Immutable sequences of characters. Ordered.
# Example:
my_string = "hello"
print(f"String: {my_string}, Type: {type(my_string)}")

# Lists: Mutable ordered sequences of elements. Can contain elements of different data types.
# Example:
my_list = [1, "apple", 3.14, True]
print(f"List: {my_list}, Type: {type(my_list)}")

# Tuples: Immutable ordered sequences of elements. Can contain elements of different data types.
# Example:
my_tuple = (1, "banana", 9.8, False)
print(f"Tuple: {my_tuple}, Type: {type(my_tuple)}")

# Sets: Mutable unordered collections of unique elements.
# Example:
my_set = {10, 20, 30, 20} # Duplicate 20 is ignored
print(f"Set: {my_set}, Type: {type(my_set)}")

String: hello, Type: <class 'str'>
List: [1, 'apple', 3.14, True], Type: <class 'list'>
Tuple: (1, 'banana', 9.8, False), Type: <class 'tuple'>
Set: {10, 20, 30}, Type: <class 'set'>