### Exercises: Tuples

In [ ]:
# 1. Create an empty tuple
empty_tuple = ()
print(empty_tuple)

()

In [ ]:
# 2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)

Sisters: ('Alice', 'Eve')
Brothers: ('Bob', 'Charlie')

In [ ]:
# 3. Join brothers and sisters tuples and assign it to siblings
siblings = sisters + brothers
print("Siblings:", siblings)

Siblings: ('Alice', 'Eve', 'Bob', 'Charlie')

In [ ]:
# 4. How many siblings do you have?
num_siblings = len(siblings)
print("Number of siblings:", num_siblings)

Number of siblings: 4

In [ ]:
# 5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members
family_members = siblings + ("Father", "Mother")
print("Family members:", family_members)

Family members: ('Alice', 'Eve', 'Bob', 'Charlie', 'Father', 'Mother')

In [ ]:
# 6. Unpack siblings and parents from family_members
siblings = family_members[:4]
parents = family_members[4:]

print("Siblings:", siblings)
print("Parents:", parents)

Siblings: ('Alice', 'Eve', 'Bob', 'Charlie')
Parents: ('Father', 'Mother')

In [ ]:
# 7. Create fruits, vegetables and animal products tuples. Join the three tuples and
# assign it to a variable called food_stuff_tp.

In [ ]:
fruits = ("apple", "banana", "orange")
vegetables = ("carrot", "spinach", "broccoli")
animal_products = ("milk", "eggs", "cheese")

food_stuff_tp = fruits + vegetables + animal_products

In [ ]:
# 8. Change the about food_stuff_tp tuple to a food_stuff_lt list
food_stuff_lt = list(food_stuff_tp)
print(food_stuff_lt)

['apple', 'banana', 'orange', 'carrot', 'spinach', 'broccoli', 'milk', 'eggs', 'cheese']

In [ ]:
# 9. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.
middle_index = len(food_stuff_lt) // 2
if len(food_stuff_lt) % 2 == 1:
  # If the list has an odd number of items, slice the single middle item
  middle_item = food_stuff_lt[middle_index]
  print("Middle item (list):", middle_item)
else:
  # If the list has an even number of items, slice the two middle items
  middle_items = food_stuff_lt[middle_index - 1 : middle_index + 1]
  print("Middle items (list):", middle_items)

# You can do the same for the tuple
middle_index_tuple = len(food_stuff_tp) // 2
if len(food_stuff_tp) % 2 == 1:
  middle_item_tuple = food_stuff_tp[middle_index_tuple]
  print("Middle item (tuple):", middle_item_tuple)
else:
  middle_items_tuple = food_stuff_tp[middle_index_tuple - 1 : middle_index_tuple + 1]
  print("Middle items (tuple):", middle_items_tuple)

Middle item (list): spinach
Middle item (tuple): spinach

In [ ]:
# 10.  Slice out the first three items and the last three items from food_staff_lt list
first_three_items = food_stuff_lt[:3]
last_three_items = food_stuff_lt[-3:]

print("First three items:", first_three_items)
print("Last three items:", last_three_items)

First three items: ['apple', 'banana', 'orange']
Last three items: ['milk', 'eggs', 'cheese']

In [ ]:
# 11. Delete the food_staff_tp tuple completely
del food_stuff_tp

In [ ]:
# 12. Check if an item exists in tuple:
# Check if 'Estonia' is a nordic country
# Check if 'Iceland' is a nordic country
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

print('Estonia' in nordic_countries)
print('Iceland' in nordic_countries)

False
True